{% extends "layout.html" %}
{% block content %}
<div class="row my-3">
    <div class="col">
        <div style="text-align:center">
            <h1>Events</h1>
        </div>
    </div>
</div>

<div class="row my-3">
    <div class="col">
        <div style="text-align:center">
            <h1>Search for Events</h1>
        </div>
    </div>
</div>

<div class="row mb-5">
    <div class="col">
        <form method="GET" action="{{ url_for('main.search') }}">
            {{ form.searchq(class="form-control form-control-lg") }}
        </form>
    </div>
</div>

<div class="row my-3">
    <div class="col">
        <div style="text-align:center">
            <h1>From Organizations You Follow</h1>
        </div>
    </div>
</div>

{% for event in org_events%}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-1">
                <img class="article-img" src="{{ url_for('static', filename='org_pics/default.jpg') }}" alt="">
            </div>
            <div class="col">
                <h2 class="card-title" href="{{ url_for('events.event', event_id=event.id)}}">{{ event.title }}</h2>
            </div>
            <div class="col-sm-auto">
                <a class="btn btn-primary btn-sm mt-1 mb-1"
                    href="{{ url_for('events.save', event_id=event.id) }}">Save</a>
                
                <a class="btn btn-primary btn-sm mt-1 mb-1"
                    href="{{ url_for('events.rsvp', event_id=event.id) }}">Add to Calendar</a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xl-auto">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-light">{{event.host.name}}</button>
                    <button type="button" class="btn btn-light">{{event.location}}</button>
                    <button type="button" class="btn btn-light">{{event.start_date.strftime("%a %b %-d, %I:%M%p")}} - {{event.end_date.strftime("%I:%M%p")}}</button>
                  </div>
            </div>
        </div>

        <p class="card-text">{{ event.description }}</p>
    </div>
</div>
{% endfor %}

<div class="row my-3">
    <div class="col">
        <div style="text-align:center">
            <h1>All Other Events</h1>
        </div>
    </div>
</div>

{% for event in events%}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-1">
                <img class="article-img" src="{{ url_for('static', filename='org_pics/default.jpg') }}" alt="">
            </div>
            <div class="col">
                <h2><a class="card-title" href="{{ url_for('events.event', event_id=event.id)}}">{{ event.title }}</a></h2>
            </div>
            <div class="col-sm-auto">
                <a class="btn btn-primary btn-sm mt-1 mb-1"
                    href="{{ url_for('events.save', event_id=event.id) }}">Save</a>
                
                <a class="btn btn-primary btn-sm mt-1 mb-1"
                    href="{{ url_for('events.rsvp', event_id=event.id) }}">Add to Calendar</a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xl-auto">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-light">{{event.host.name}}</button>
                    <button type="button" class="btn btn-light">{{event.location}}</button>
                    <button type="button" class="btn btn-light">{{event.start_date.strftime("%a %b %-d, %I:%M%p")}} - {{event.end_date.strftime("%I:%M%p")}}</button>
                  </div>
            </div>
        </div>

        <p class="card-text">{{ event.description }}</p>
    </div>
</div>
{% endfor %}

<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

<!-- For production setup JSX preprocessor -->
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>


{% for event in events%}
<div id="event_card"></div>
<!-- Load our React component. -->
<script src="{{ url_for('static', filename='react/event_card.js') }}" type="text/babel">
    const vent = "{{event}}";
    const imgurl = "{{ url_for('static', filename='org_pics/default.jpg') }}";
    const eventurl = "{{ url_for('events.event', event_id=event.id)}}";
</script>
{% endfor %}

{% endblock content %}