{% extends "layout.html" %}
{% block content %}
<h1 style="color:rgb(2, 2, 0)">Events</h1>
<style>
    body {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>
{% for event in events.items %}
{% if event not in myevents %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='org_pics/default.jpg') }}" alt="">
    <div class="media-body">
        <div class="article-metadata">
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('events.save', event_id=event.id) }}">Save</a>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('events.rsvp', event_id=event.id) }}">Add to Calendar</a>
            </div>
            <div>
                <p>Date: {{event.date.strftime("%a, %m/%d/%Y")}}</p>
                <p>Time: {{event.date.strftime("%I:%M%p")}}</p>
                <p>Location: {{event.location}}</p>
            </div>
        </div>
        <h2><a class="article-title"
                href="{{ url_for('events.event', event_id=event.id)}}">{{ event.title }}</a></h2>
        <p class="article-content">{{ event.description }}</p>
    </div>
</article>
{% endif %}
{% endfor %} 
{% endblock content %}