{% extends "layout.html" %}
{% block content %}
<h1 style="color:rgb(2, 2, 0)">My Events</h1>
<style>
    body {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>
<h4>Use this URL to see this schedule on your Calendar: {{link}}</h4>
<h2>Going</h2>
{% for assoc in events %}
{% if assoc.going %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='org_pics/default.jpg') }}" alt="">
    <div class="media-body">
        <div class="article-metadata">
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                    href="{{ url_for('events.remove', event_id=assoc.event.id) }}">Remove</a>
            </div>
            <div>
                <p>Organized by: {{event.host.name}}</p>
                <p>Date: {{assoc.event.start_date.strftime("%a, %m/%d/%Y")}}</p>
                <p>Time: {{assoc.event.start_date.strftime("%I:%M%p")}} - {{assoc.event.end_date.strftime("%I:%M%p")}}
                </p>
                <p>Location: {{assoc.event.location}}</p>
            </div>
        </div>
        <h2>{{ assoc.event.title }}</h2>
        <p class="article-content">{{ assoc.event.description }}</p>
    </div>
</article>
{% endif %}
{% endfor %}
<h2>Saved</h2>
{% for assoc in events %}
{% if not assoc.going %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='org_pics/default.jpg') }}" alt="">
    <div class="media-body">
        <div class="article-metadata">
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                    href="{{ url_for('events.remove', event_id=assoc.event.id) }}">Remove</a>
                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                    href="{{ url_for('events.rsvp', event_id=assoc.event.id) }}">Add to Calendar</a>
            </div>
            <div>
                <p>Organized by: {{event.host.name}}</p>
                <p>Date: {{assoc.event.start_date.strftime("%a, %m/%d/%Y")}}</p>
                <p>Time: {{assoc.event.start_date.strftime("%I:%M%p")}} - {{assoc.event.end_date.strftime("%I:%M%p")}}
                </p>
                <p>Location: {{assoc.event.location}}</p>
            </div>
        </div>
        <h2>{{ assoc.event.title }}</h2>
        <p class="article-content">{{ assoc.event.description }}</p>
    </div>
</article>
{% endif %}
{% endfor %}
{% endblock content %}