{% extends "layout.html" %} {% block content %}
<div class="row my-3">
    <div class="col">
        <div style="text-align:center">
            <h1>Search for Events</h1>
        </div>
    </div>
</div>

<div class="row mb-5">
    <div class="col">
        <form method="GET" action="">
            {{ form.searchq(class="form-control form-control-lg") }}
        </form>
    </div>
</div>

{% for event in events%}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='org_pics/default.jpg') }}" alt="">
    <div class="media-body">
        <div class="article-metadata">
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                    href="{{ url_for('events.save', event_id=event.id) }}">Save</a>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('events.rsvp', event_id=event.id) }}">Add
                    to Calendar</a>
            </div>
            <div>
                <p>Organized by: {{assoc.event.host.name}}</p>
                <p>Date: {{event.start_date.strftime("%a, %m/%d/%Y")}}</p>
                <p>Time: {{event.start_date.strftime("%I:%M%p")}} - {{event.end_date.strftime("%I:%M%p")}}</p>
                <p>Location: {{event.location}}</p>
            </div>
        </div>
        <h2><a class="article-title" href="{{ url_for('events.event', event_id=event.id)}}">{{ event.title }}</a></h2>
        <p class="article-content">{{ event.description }}</p>
    </div>
</article>
{% endfor %}

{% endblock content %}